<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="@Url.Content("~/js/libs/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/libs/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/libs/knockout.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/libs/tiny_mce/tiny_mce.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/libs/tiny_mce/jquery.tinymce.js")"></script>
    <script type="text/javascript">
        jQuery().ready(function () {
            jQuery('textarea.tinymce').tinymce({
                // Location of TinyMCE script
                script_url: '@Url.Content("~/js/libs/tiny_mce/jquery.tinymce.js")',

                // General options
                mode : "textareas",
                theme : "simple",
                plugins: "xhtmlxtras",

                // Example content CSS (should be your site CSS)
                content_css: "css/content.css",
                
                width: "525",
                height: "330"
            });
        });
</script>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>

    <body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="@Url.Action("Index", "Page")">MVC Database Views</a>
              <div class="nav-collapse">
                <ul class="nav">
                  <li>@Html.ActionLink("Init", "Init", "Page")</li>
                  <li>@Html.ActionLink("Test 1", "Test1", "Page")</li>
                  <li>@Html.ActionLink("Test 2", "Test2", "Page")</li>
                  <li>@Html.ActionLink("Test 3", "Test3", "Page")</li>
                  <li>@Html.ActionLink("Standard View", "Standard", "Page")</li>
                  <li>@Html.ActionLink("Precompiled View", "Precompiled", "Page")</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
        
        <div id="edit-databaseview-modal" class="modal hide fade">
            <div class="modal-header">
                <a href="#" class="close" data-bind="click: raiseClose">×</a>
                <h3>Edit Database View</h3>
            </div>
            <div class="modal-body">
                <label for="viewmodel">View Model</label>
                <select data-bind="options: ViewModels, optionsText: 'Text', value: ViewModel, optionsCaption: 'Choose...'"></select>

                <label for="layout">Layout</label>
                <input id="layout" name="layout" type="text" placeholder="Layout…" data-bind="value: Layout"/>
                
                <label for="properties">View Model Properties</label>
                <select data-bind="options: ViewModelProperties, optionsText: 'Value', value: ViewModelProperty, optionsCaption: 'Choose...'"></select>
                <button data-bind="click: AddToBody" class="btn btn-primary">Add to Body</button>
                
                <label for="edit-databaseview-body">Content</label>
                <textarea id="edit-databaseview-body" name="edit-databaseview-body" class="tinymce" data-bind="value: Body"></textarea>
                
                <button data-bind="click: submit" class="btn btn-primary">Save</button>
            </div>
        </div>

        <script type="text/javascript">
            
            var database_view_components_model = {};

            (function (index) {
                database_view_components_model = index;

                index.ViewModels = ko.observableArray([]);
                index.ViewModelProperties = ko.observableArray([]);

                index.ViewKey = ko.observable();
                index.ViewModel = ko.observable();
                index.ViewModelProperty = ko.observable();
                index.Layout = ko.observable();
                index.Body = ko.observable();

                index.submit = function() {
                    jQuery.post("@Url.Action("Update", "Page")", { "viewKey": index.ViewKey(), "fullName": index.ViewModel() ? index.ViewModel().Text : "", "assemblyQualifiedName": index.ViewModel() ? index.ViewModel().Value : "", "layout": index.Layout(), "body": tinyMCE.get('edit-databaseview-body').getContent() }, function (data) {
                        index.editModal.modal('hide');
                        window.location.reload();
                    });
                };
                
                index.raiseClose = function () {
                    index.editModal.modal('hide');
                };

                index.ViewModel.subscribe(function(value) {
                    if (!value) {
                        return;
                    }
                    
                    jQuery.get("@Url.Action("GetViewModelProperties", "Page")", { "fullClassName": value.Value }, function(data) {
                        index.ViewModelProperties(data.Properties);
                    });
                });
                
                index.AddToBody = function() {
                    jQuery('#edit-databaseview-body').tinymce().execCommand('mceInsertContent', false, "@@Model." + index.ViewModelProperty().Value);
                }

                jQuery(document).bind('editDatabaseComponent', function (e, viewModel, controller, action) {
                    jQuery.get("@Url.Action("Get", "Page")", { "controller": controller, "controllerAction": action }, function(data) {

                        index.ViewModels(data.ViewModels);

                        if (data.View) {
                            index.ViewKey(data.View.ViewKey);
                            index.ViewModel(ko.utils.arrayFirst(index.ViewModels(), function(item) {
                                if (data.View.ViewModel)
                                    return item.Text == data.View.ViewModel.FullName;
                            }));
                            index.Layout(data.View.Layout);
                            index.Body(data.View.Body);
                            
                            jQuery('#edit-databaseview-body').tinymce().execCommand('mceInsertContent', false, index.Body());
                        }
                        
                        index.editModal.modal('show');
                    });
                });

                jQuery(function() {
                    ko.applyBindings(index, jQuery("edit-databaseview-modal")[0]);
                    index.editModal = jQuery('#edit-databaseview-modal').modal({ backdrop: true, closeOnEscape: true, modal: true, show: false });
                });

            } (database_view_components_model));
        </script>
    </body>
</html>
