<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="@Url.Content("~/js/libs/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/libs/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/libs/knockout.js")"></script>
    <script>
        var databaseComponents = new Array();
    </script>

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>

    <body>
        <ul id="navigation">
            <li class="edit"><a href="" title="edit"></a></li>
        </ul>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="@Url.Action("Index", "Page")">MVC Database Views</a>
              <div class="nav-collapse">
                <ul class="nav">
                  <li>@Html.ActionLink("Init", "Init", "Page")</li>
                  <li>@Html.ActionLink("Test 1", "Test1", "Page")</li>
                  <li>@Html.ActionLink("Test 2", "Test2", "Page")</li>
                  <li>@Html.ActionLink("Test 3", "Test3", "Page")</li>
                  <li>@Html.ActionLink("Standard View", "Standard", "Page")</li>
                  <li>@Html.ActionLink("Precompiled View", "Precompiled", "Page")</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
        
        <div id="edit-databaseview-modal" class="modal hide fade">
            <div class="modal-header">
                <a href="#" class="close" data-bind="click: raiseClose">×</a>
                <h3>Edit Database View</h3>
            </div>
            <div class="modal-body">
                <textarea data-bind="value: Body"></textarea>
                
                <button data-bind="click: submit" class="btn btn-primary">Save</button>
            </div>
        </div>

        <script type="text/javascript">
            jQuery(function () {
                jQuery('#navigation a').stop().animate({ 'marginLeft': '-85px' }, 1000);

                jQuery('#navigation > li').hover(
                    function () {
                        jQuery('a', $(this)).stop().animate({ 'marginLeft': '-2px' }, 200);
                    },
                    function () {
                        jQuery('a', $(this)).stop().animate({ 'marginLeft': '-85px' }, 200);
                    }
                );
            });

            var database_view_components_model = {};

            (function (index) {
                database_view_components_model = index;

                index.ViewKey = ko.observable();
                index.Body = ko.observable();

                index.submit = function() {
                    jQuery.post("@Url.Action("Update", "Page")", { "viewKey": index.ViewKey(), "body": index.Body() }, function(data) {
                        index.editModal.modal('hide');
                    });
                };
                
                index.raiseClose = function () {
                    index.editModal.modal('hide');
                };

                jQuery(document).bind('editDatabaseComponent', function (e, viewModel, controller, action) {
                    jQuery.get("@Url.Action("Get", "Page")", { "controller": controller, "controllerAction": action }, function(data) {
                        index.ViewKey(data.ViewKey);
                        index.Body(data.Body);
                        
                        index.editModal.modal('show');
                    });
                });

                jQuery(function() {
                    ko.applyBindings(index, jQuery("edit-databaseview-modal")[0]);
                    index.editModal = jQuery('#edit-databaseview-modal').modal({ backdrop: true, closeOnEscape: true, modal: true, show: false });
                });

            } (database_view_components_model));
        </script>
    </body>
</html>
